.carousel-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
}

.carousel-image {
  width: 100%;
  height: 600px;
  object-fit: cover;
  transition: transform 0.8s ease-in-out;
}

.carousel-item.active .carousel-image {
  transform: scale(1.03);
}

.carousel-caption {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #fff;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.carousel-item.active .carousel-caption {
  opacity: 1;
}

.btn-carousel {
  background-color: var(--color-principal);
  border: none;
  padding: 10px 25px;
  border-radius: 50px;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn-carousel:hover {
  background-color: #ad1457;
}